/* -------------------- fonts. -------------------- */

@import 
url(
'https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap'
);

/* ---------- reset and defaults configs. ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ECE9FD;

    font-family: 'Epilogue', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    padding: 0 1.25rem;
}

/* -------------------- content -------------------- */

.container {
    background-color: #fff;

    display: flex;

    width: 100%;
    max-width: 920px;
    padding: 1.5625rem;

    gap: 1.25rem;
    border-radius: .625rem;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.container img {
    width: 50%;

    border-radius: 1.25rem;

    object-fit: cover;
}

label {
    color: rgba(10, 0, 57, 0.64);

    font-size: 14px;
    margin-bottom: 5px;
}

.container form {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    place-items: center;
    
}

form h1 {
    color: #090039;

    text-align: center;
    margin-bottom: 20px;
}

form p {
    color: rgba(10, 0, 57, 0.64);

    text-align: center;
    margin-bottom: 70px;
}

input {
    width: 100%;

    padding: 7px 24px;
    margin-bottom: 10px;
}

.main-btn {
    background-color: #7158EF;
    color: #fff;

    display: inline-block;
    text-align: center;

    padding: 1.0625rem 3rem;
    height: 3rem;
    min-width: 10rem;
    margin-top: .9375rem;


    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;

    
    outline: none;
    cursor: pointer;

    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    white-space: normal;
}

.main-btn:hover{
    background-color: #4631b1;

    transform: scale(1.04);
}

/* -------------------- alert-error -------------------- */

.alert-error.open {
    visibility: visible;
    opacity: 1;

    transform: translateY(0);
}

.alert-error {
    background-color: #F03E3E;
    color: #fff;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    text-align: center;
    font-weight: bold;

    padding: .4rem 0;

    visibility: hidden;
    opacity: 0;

    transform: translateY(-1.875rem);
    transition: transform .5s;

}

/* -------------------- modal -------------------- */

.card {
    background: #fff;

    padding: 3.125rem 5.625rem;

    max-width: 28.125rem;
    margin-inline: auto;

    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
}

.modal-result.open {
    opacity: 1;
    visibility: visible;
}

.modal-result {
    background: rgba(0, 0, 0, 0.7);

    position: absolute;

    inset: 0;

    display: grid;
    place-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal-result h2 {
    color: #090039;

    text-align: center;

    margin-bottom: .75rem;
}

.modal-result p {
    color: rgba(10, 0, 57, 0.75);

    text-align: center;

    font-weight: 500;
    line-height: 1.5625rem;
}

.modal {
    position: relative;
}

.modal button {
    background: none;
    border: none;

    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    cursor: pointer;
    transition: transform .3s;
}

.modal button:hover {
    transform: scale(1.1);
}